<App>
    <div class="Side-bar">
        <h1>Holla Senior {props.name}</h1>
        
        <p onclick={route} Route="Home">Route Home</p>
        <p onclick={route} Route="About">Route About</p>
    </div>

    <outlet class="Content"></outlet>
</App>